# Keep IntelliJ files out of github to reduce potential conflicts when others import.

.idea
core.iml
_site
.jekyll-cache
.DS_Store
/example-ethics/
/example-introduction/
/example-javascript/
/example-open-source-software/
